.header-container {
    color: white;
    padding: 1rem;
    margin-top: -60px;
    text-align: center;
}

.header-title {
    font-size: 3.5 rem;
    font-weight: bold;
    color: white;
}

.header-subtitle {
    font-size: 1.8 rem;
    color: #aaa;
    margin-top: 4px;
}
